<div class="container">
  <h1 ng-show="title">
    {{ title }} Repository 
    <br>
    <small>{{ description }}</small>
  </h1>
  <div class="search-container">
    <input class="form-control input-lg" type="text" placeholder="Search repository" ng-model="searchQuery">
  </div>
  <div class="content">
    <div class="col-md-6 content-list">
      <ul class="list-group">
        <li ng-repeat="post in posts | hasTags : tags" class="list-group-item content-item" ng-class="{active: selectedPost === post}">
          <a href="" ng-click="showDetails(post)">
            {{ post.title }}
          </a>
          <p class="text-muted small">{{ post.timestamp * 1000 | date:'MMM dd, yyyy' }}</p>
          <div class="tag-container">
            <span ng-repeat="tag in post.tags" class="tag" ng-class="{active: tagActive(tag)}">
              <a href="" ng-click="toggleTag(tag)">{{ tag }}</a>
              <span class="glyphicon glyphicon-remove-circle" ng-show="tagActive(tag)" ng-click="toggleTag(tag)"></span>
            </span>
          </div> 
        </li>
      </ul>
    </div>
    <div class="col-md-6 content-body" scroll-follower ng-show="posts">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{ selectedPost.title }}</h3>
        </div>
        <div class="panel-body" ng-bind-html="selectedPost.body"></div>
      </div>
    </div>
  </div>
</div>